<head>
  <meta charset="utf-8">
  {% if page.title %}
    <title>{{page.title}} | INSIDe</title>
  {% else %}
    <title>INSIDe</title>
  {% endif %}
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <meta name="google-site-verification" content="fBQRJ6h7MV7_TJ7grbgq4P-d-07NRfDWPe4pqEEoH5w">

  <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,700%7CRoboto:400,700,700italic,400italic" rel="stylesheet" type="text/css">

  {% if page.category == 404 %}
    <link href="{{ site.url }}{{ site.baseurl }}/assets/css/404.css" rel="stylesheet">
  {% else %}
    <link href="{{ site.url }}{{ site.baseurl }}/assets/css/normalize.css" rel="stylesheet">
    <link href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
    <link href="{{ site.url }}{{ site.baseurl }}/assets/css/footer.css" rel="stylesheet">
    <link href="{{ site.url }}{{ site.baseurl }}/assets/css/prettify.css" rel="stylesheet">
  {% endif %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
</head>
